<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Hotel</title>
    <div th:replace="common/common_header" ></div>
</head>
<body>
<h1>欢迎使用旅游预订系统</h1>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">导航栏</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/customer/list/all?pageNum=1&pageSize=5'}">客户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/flight/list/all?pageNum=1&pageSize=5'}">航班管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/list/all?pageNum=1&pageSize=5'}">出租车管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/hotel/list/all?pageNum=1&pageSize=5'}">宾馆管理</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    预订信息
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{'/reservation/flight/list?pageNum=1&pageSize=5'}">航班预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/car/list?pageNum=1&pageSize=5'}">出租车预订</a>
                    <a class="dropdown-item" href="#">宾馆预订</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">敬请期待...</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h3>航班预定信息</h3>
<hr>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">宾馆名</th>
        <th scope="col">地点</th>
        <th scope="col">价格</th>
        <th scope="col">房间总数</th>
        <th scope="col">可用房间数</th>
        <th scope="col">预定密码(加密)</th>
        <th scope="col">客户姓名</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotelReservationInfo.records}">
        <th scope="row" th:text="${hotel.reservationId}"></th>
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.location}"></td>
        <td th:text="${hotel.price}"></td>
        <td th:text="${hotel.totalNum}"></td>
        <td th:text="${hotel.availableNum}"></td>
        <td th:text="${hotel.reservationKey}"></td>
        <td th:text="${hotel.customerName}"></td>
        <td>
            <button type="button" class="btn btn-danger del_btn" th:reservationId="${hotel.reservationId}">取消预订</button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li th:class="${hotelReservationInfo.hasPrevious()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()-1}+'&pageSize=5'}"><<</a>
        </li>
        <li th:if="${hotelReservationInfo.getCurrent()-4 > 0 && hotelReservationInfo.getCurrent() + 1 >hotelReservationInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()-4}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()-4}"></a>
        </li>
        <li th:if="${hotelReservationInfo.getCurrent()-3 > 0 && hotelReservationInfo.getCurrent() + 2 >hotelReservationInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()-3}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()-3}"></a>
        </li>
        <li th:if="${hotelReservationInfo.getCurrent()-2 >0 }" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()-2}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()-2}"></a>
        </li>
        <li th:if="${hotelReservationInfo.hasPrevious()}" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()-1}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()-1}"></a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" th:text="${hotelReservationInfo.getCurrent()}"><span class="sr-only">(current)</span></a>
        </li>
        <li th:if="${hotelReservationInfo.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()+1}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()+1}"></a>
        </li>
        <li th:if="${hotelReservationInfo.getCurrent()+2 <= hotelReservationInfo.getPages() }" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()+2}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()+2}"></a>
        </li>
        <li th:if="${hotelReservationInfo.getCurrent()-2 <= 0 && hotelReservationInfo.getCurrent() + 3 <=hotelReservationInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()+3}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()+3}"></a>
        </li>
        <li th:if="${hotelReservationInfo.getCurrent()-1 <= 0 && hotelReservationInfo.getCurrent() + 4 <=hotelReservationInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()+4}+'&pageSize=5'}" th:text="${hotelReservationInfo.getCurrent()+4}"></a>
        </li>
        <li th:class="${hotelReservationInfo.hasNext()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/reservation/hotel/list?pageNum='+${hotelReservationInfo.getCurrent()+1}+'&pageSize=5'}" tabindex="-1" th:aria-disabled="${hotelReservationInfo.hasNext()}?false:true">>></a>
        </li>
    </ul>
</nav>

<br>
<br>
<hr>
<h1>添加航班预订信息</h1>
<form>
    <div class="form-group">
        <label for="customerId">预定人id</label>
        <input type="text" class="form-control" id="customerId" placeholder="请输入预定人id">
    </div>
    <div class="form-group">
        <label for="hotelName">宾馆名</label>
        <input type="text" class="form-control" id="hotelName" placeholder="宾馆名">
    </div>
    <div class="tip"></div>
    <button type="submit" class="btn btn-primary" id="submit_btn">提交</button>
</form>
</body>

<script type="text/javascript">
    $('#submit_btn').click(function () {
        let customerId = $('#customerId').val();
        let hotelName = $('#hotelName').val();

        let url = "/reservation/hotel/insert";
        let args = {
            customerId: customerId,
            hotelName: hotelName
        };
        $.post(url,args,function(data){
            console.log("data = " + data);
            if (data.code === 201) {
                alert("插入成功" + data.message);
                window.location.reload();
            } else {
                alert("插入失败：" + data.message);
                window.location.reload();
            }
        });

    });

    $('.del_btn').click(function () {
        console.log('delete.............');
        let id = $('.del_btn').attr("reservationId");
        let url = "/reservation/hotel/cancel";
        let args = {reservationId:id};
        $.post(url,args,function(data){
            console.log('delete result -> data = ' + data);
            if (data.code === 201) {
                alert("删除成功");
                window.location.reload();
            } else {
                alert("删除失败：" + data.message);
                window.location.reload();
            }
        });
    })

</script>

</html>