<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer_add</title>
    <div th:replace="common/common_header" ></div>
</head>
<body>
<h1>欢迎使用旅游预订系统</h1>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">导航栏</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/customer/list/all?pageNum=1&pageSize=5'}">客户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">航班管理<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer/page}">出租车管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer/page}">宾馆管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">敬请期待...</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<form>
    <div class="form-group">
        <label for="type">车型</label>
        <input type="text" class="form-control" id="type" placeholder="请输入车型">
    </div>
    <div class="form-group">
        <label for="location">地址</label>
        <input type="text" class="form-control" id="location" placeholder="请输入地址">
    </div>
    <div class="form-group">
        <label for="price">价格</label>
        <input type="text" class="form-control" id="price" placeholder="请输入价格">
    </div>
    <div class="form-group">
        <label for="carNum">出租车数量</label>
        <input type="text" class="form-control" id="carNum" placeholder="请输入出租车数量">
    </div>
    <div class="form-group">
        <label for="availableNum">剩余数量</label>
        <input type="text" class="form-control" id="availableNum" placeholder="请输入剩余数量">
    </div>
    <div class="tip"></div>
    <button type="submit" class="btn btn-primary" id="submit_btn">提交</button>
</form>
<hr>

<h3>出租车列表</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">车型</th>
        <th scope="col">地址</th>
        <th scope="col">价格</th>
        <th scope="col">出租车数量</th>
        <th scope="col">可用数量</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carInfo.records}">
        <th scope="row" th:text="${car.id}"></th>
        <td th:text="${car.type}"></td>
        <td th:text="${car.location}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.carNum}"></td>
        <td th:text="${car.availableNum}"></td>
        <td>
            <button type="button" class="btn btn-danger del_btn" th:carId="${car.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li th:class="${carInfo.hasPrevious()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()-1}+'&pageSize=5'}"><<</a>
        </li>
        <li th:if="${carInfo.getCurrent()-4 > 0 && carInfo.getCurrent() + 1 >carInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()-4}+'&pageSize=5'}" th:text="${carInfo.getCurrent()-4}"></a>
        </li>
        <li th:if="${carInfo.getCurrent()-3 > 0 && carInfo.getCurrent() + 2 >carInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()-3}+'&pageSize=5'}" th:text="${carInfo.getCurrent()-3}"></a>
        </li>
        <li th:if="${carInfo.getCurrent()-2 >0 }" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()-2}+'&pageSize=5'}" th:text="${carInfo.getCurrent()-2}"></a>
        </li>
        <li th:if="${carInfo.hasPrevious()}" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()-1}+'&pageSize=5'}" th:text="${carInfo.getCurrent()-1}"></a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" th:text="${carInfo.getCurrent()}"><span class="sr-only">(current)</span></a>
        </li>
        <li th:if="${carInfo.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()+1}+'&pageSize=5'}" th:text="${carInfo.getCurrent()+1}"></a>
        </li>
        <li th:if="${carInfo.getCurrent()+2 <= carInfo.getPages() }" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()+2}+'&pageSize=5'}" th:text="${carInfo.getCurrent()+2}"></a>
        </li>
        <li th:if="${carInfo.getCurrent()-2 <= 0 && carInfo.getCurrent() + 3 <=carInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()+3}+'&pageSize=5'}" th:text="${carInfo.getCurrent()+3}"></a>
        </li>
        <li th:if="${carInfo.getCurrent()-1 <= 0 && carInfo.getCurrent() + 4 <=carInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()+4}+'&pageSize=5'}" th:text="${carInfo.getCurrent()+4}"></a>
        </li>
        <li th:class="${carInfo.hasNext()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/car/list/all?pageNum='+${carInfo.getCurrent()+1}+'&pageSize=5'}" tabindex="-1" th:aria-disabled="${carInfo.hasNext()}?false:true">>></a>
        </li>
    </ul>
</nav>
</body>

<script type="text/javascript">
    $('#submit_btn').click(function () {
        let type = $('#type').val();
        let location = $('#location').val();
        let price = $('#price').val();
        let carNum = $('#carNum').val();
        let availableNum = $('#availableNum').val();

        console.log('checking...');
        let url = "/car/insert";
        let args = {
            type:type,
            location:location,
            price:price,
            carNum:carNum,
            availableNum:availableNum
        };
        $.post(url,args,function(data){
            if (data.code === 201) {
                alert("插入成功");
                window.location.reload();
            } else {
                alert("插入失败：" + data.message);
                window.location.reload();
            }
        });

    });

    $('.del_btn').click(function () {
        console.log('delete.............');
        let id = $('.del_btn').attr("carId");
        let url = "/car/delete";
        let args = {id:id};
        $.post(url,args,function(data){
            console.log('delete result -> data = ' + data);
            if (data.code === 201) {
                alert("删除成功");
                window.location.reload();
            } else {
                alert("删除失败：" + data.message);
                window.location.reload();
            }
        });
    })

</script>
</html>