<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Manage</title>
    <div th:replace="common/common_header" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">旅游预订系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">首页</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">客户管理<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/flight/list/all?pageNum=1&pageSize=5'}">航班管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/list/all?pageNum=1&pageSize=5'}">出租车管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/hotel/list/all?pageNum=1&pageSize=5'}">宾馆管理</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    预订信息
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{'/reservation/flight/list?pageNum=1&pageSize=5'}">航班预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/car/list?pageNum=1&pageSize=5'}">出租车预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/hotel/list?pageNum=1&pageSize=5'}">宾馆预订</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">敬请期待...</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
<form class="form-inline">
    <div class="form-group">
        <label for="customerName">客户姓名：</label>
        <input type="text" class="form-control" id="customerName" placeholder="请输入客户姓名">
    </div>
    <div class="tip"></div>
    <button type="submit" class="btn btn-primary" id="submit_btn" th:currentPage="${customerInfo.getCurrent()}">提交</button>
</form>
<hr>

<h3>客户列表</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">用户id</th>
        <th scope="col">用户姓名</th>
        <th scope="col">创建时间</th>
        <th scope="col">更新时间</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customerInfo.records}">
        <th scope="row" th:text="${customer.id}"></th>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.createTime}"></td>
        <td th:text="${customer.updateTime}"></td>
        <td>
            <a th:href="@{'/reservation/path?customerId='+${customer.id}}"><button type="button" class="btn btn-primary path_btn">查看航班路径</button></a>
            <button type="button" class="btn btn-danger del_btn" th:customerId="${customer.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li th:class="${customerInfo.hasPrevious()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()-1}+'&pageSize=5'}"><<</a>
        </li>
        <li th:if="${customerInfo.getCurrent()-4 > 0 && customerInfo.getCurrent() + 1 >customerInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()-4}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()-4}"></a>
        </li>
        <li th:if="${customerInfo.getCurrent()-3 > 0 && customerInfo.getCurrent() + 2 >customerInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()-3}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()-3}"></a>
        </li>
        <li th:if="${customerInfo.getCurrent()-2 >0 }" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()-2}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()-2}"></a>
        </li>
        <li th:if="${customerInfo.hasPrevious()}" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()-1}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()-1}"></a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" th:text="${customerInfo.getCurrent()}"><span class="sr-only">(current)</span></a>
        </li>
        <li th:if="${customerInfo.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()+1}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()+1}"></a>
        </li>
        <li th:if="${customerInfo.getCurrent()+2 <= customerInfo.getPages() }" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()+2}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()+2}"></a>
        </li>
        <li th:if="${customerInfo.getCurrent()-2 <= 0 && customerInfo.getCurrent() + 3 <=customerInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()+3}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()+3}"></a>
        </li>
        <li th:if="${customerInfo.getCurrent()-1 <= 0 && customerInfo.getCurrent() + 4 <=customerInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()+4}+'&pageSize=5'}" th:text="${customerInfo.getCurrent()+4}"></a>
        </li>
        <li th:class="${customerInfo.hasNext()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/customer/list/all?pageNum='+${customerInfo.getCurrent()+1}+'&pageSize=5'}" tabindex="-1" th:aria-disabled="${customerInfo.hasNext()}?false:true">>></a>
        </li>
    </ul>
</nav>

</div>
</body>

<script type="text/javascript">
    $('#submit_btn').click(function () {
        let customerName = $('#customerName').val();
        if(customerName === ""){
            console.log('empty...');
            $(".tip").html("用户名和密码不能为空");
            $(".tip").css("display","block");
            return;
        }

        console.log('checking...');
        let url = "/customer/insert";
        let args = {customerName:customerName};
        $.post(url,args,function(data){
            if (data.code === 201) {
                alert("插入成功");
                window.location.reload();
            } else {
                alert("插入失败：" + data.message);
                window.location.reload();
            }
        });

    });

    $('.del_btn').click(function () {
        console.log('delete.............');
        let id = $('.del_btn').attr("customerId");
        let url = "/customer/delete";
        let args = {id:id};
        $.post(url,args,function(data){
            console.log('delete result -> data = ' + data);
            if (data.code === 201) {
                alert("删除成功");
                window.location.reload();
            } else {
                alert("删除失败：" + data.message);
                window.location.reload();
            }
        });
    })

    $('.path_btn').click(function () {
        let id = $('.path_btn').attr("customerId");
        let url = "/reservation/path";
        let args = {customerId:id};
        $.post(url,args,function(data){
            console.log("data = " + data)
        });
    })

</script>
</html>