<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Manage</title>
    <div th:replace="common/common_header" ></div>
</head>
<body>
<h1>欢迎使用旅游预订系统</h1>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">导航栏</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/customer/list/all?pageNum=1&pageSize=5'}">客户管理</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">航班管理<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/list/all?pageNum=1&pageSize=5'}">出租车管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/hotel/list/all?pageNum=1&pageSize=5'}">宾馆管理</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    预订信息
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/reservation/flight/list}">航班预订</a>
                    <a class="dropdown-item" th:href="@{/reservation/car/list}">出租车预订</a>
                    <a class="dropdown-item" th:href="@{/reservation/hotel/list}">宾馆预订</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">敬请期待...</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<form>
    <div class="form-group">
        <label for="flightNum">航班号</label>
        <input type="text" class="form-control" id="flightNum" placeholder="请输入航班号，航班号重复不能添加">
    </div>
    <div class="form-group">
        <label for="price">价格</label>
        <input type="text" class="form-control" id="price" placeholder="请输入航班价格(限制为两位小数)">
    </div>
    <div class="form-group">
        <label for="seatNum">座位数</label>
        <input type="text" class="form-control" id="seatNum" placeholder="请输入座位数">
    </div>
    <div class="form-group">
        <label for="availableNum">可用座位数</label>
        <input type="text" class="form-control" id="availableNum" placeholder="请输入可用座位数">
    </div>
    <div class="form-group">
        <label for="fromCity">起始城市</label>
        <input type="text" class="form-control" id="fromCity" placeholder="请输入起始城市">
    </div>
    <div class="form-group">
        <label for="arriveCity">到达城市</label>
        <input type="text" class="form-control" id="arriveCity" placeholder="请输入结束">
    </div>
    <div class="tip"></div>
    <button type="submit" class="btn btn-primary" id="submit_btn">提交</button>
</form>
<hr>

<h3>航班列表</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">航班号</th>
        <th scope="col">价格</th>
        <th scope="col">座位数</th>
        <th scope="col">可用座位数</th>
        <th scope="col">起始城市</th>
        <th scope="col">到达城市</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flightInfo.records}">
        <th scope="row" th:text="${flight.id}"></th>
        <td th:text="${flight.flightNum}"></td>
        <td th:text="${flight.price}"></td>
        <td th:text="${flight.seatNum}"></td>
        <td th:text="${flight.availableNum}"></td>
        <td th:text="${flight.fromCity}"></td>
        <td th:text="${flight.arriveCity}"></td>
        <td>
            <button type="button" class="btn btn-danger del_btn" th:flightId="${flight.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li th:class="${flightInfo.hasPrevious()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()-1}+'&pageSize=5'}"><<</a>
        </li>
        <li th:if="${flightInfo.getCurrent()-4 > 0 && flightInfo.getCurrent() + 1 >flightInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()-4}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()-4}"></a>
        </li>
        <li th:if="${flightInfo.getCurrent()-3 > 0 && flightInfo.getCurrent() + 2 >flightInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()-3}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()-3}"></a>
        </li>
        <li th:if="${flightInfo.getCurrent()-2 >0 }" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()-2}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()-2}"></a>
        </li>
        <li th:if="${flightInfo.hasPrevious()}" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()-1}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()-1}"></a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" th:text="${flightInfo.getCurrent()}"><span class="sr-only">(current)</span></a>
        </li>
        <li th:if="${flightInfo.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()+1}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()+1}"></a>
        </li>
        <li th:if="${flightInfo.getCurrent()+2 <= flightInfo.getPages() }" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()+2}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()+2}"></a>
        </li>
        <li th:if="${flightInfo.getCurrent()-2 <= 0 && flightInfo.getCurrent() + 3 <=flightInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()+3}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()+3}"></a>
        </li>
        <li th:if="${flightInfo.getCurrent()-1 <= 0 && flightInfo.getCurrent() + 4 <=flightInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()+4}+'&pageSize=5'}" th:text="${flightInfo.getCurrent()+4}"></a>
        </li>
        <li th:class="${flightInfo.hasNext()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/flight/list/all?pageNum='+${flightInfo.getCurrent()+1}+'&pageSize=5'}" tabindex="-1" th:aria-disabled="${flightInfo.hasNext()}?false:true">>></a>
        </li>
    </ul>
</nav>
</body>

<script type="text/javascript">
    $('#submit_btn').click(function () {
        let flightNum = $('#flightNum').val();
        let price = $('#price').val();
        let seatNum = $('#seatNum').val();
        let availableNum = $('#availableNum').val();
        let fromCity = $('#fromCity').val();
        let arriveCity = $('#arriveCity').val();

        console.log('checking...');
        let url = "/flight/insert";
        let args = {
            flightNum:flightNum,
            price:price,
            seatNum:seatNum,
            availableNum:availableNum,
            fromCity:fromCity,
            arriveCity:arriveCity
        };
        $.post(url,args,function(data){
            if (data.code === 201) {
                alert("插入成功");
                window.location.reload();
            } else {
                alert("插入失败：" + data.message);
                window.location.reload();
            }
        });

    });

    $('.del_btn').click(function () {
        console.log('delete.............');
        let id = $('.del_btn').attr("flightId");
        let url = "/flight/delete";
        let args = {id:id};
        $.post(url,args,function(data){
            console.log('delete result -> data = ' + data);
            if (data.code === 201) {
                alert("删除成功");
                window.location.reload();
            } else {
                alert("删除失败：" + data.message);
                window.location.reload();
            }
        });
    })

</script>
</html>