<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Manage</title>
    <div th:replace="common/common_header" ></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">旅游预订系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/customer/list/all?pageNum=1&pageSize=5'}">客户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/flight/list/all?pageNum=1&pageSize=5'}">航班管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/list/all?pageNum=1&pageSize=5'}">出租车管理</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">宾馆管理<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    预订信息
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{'/reservation/flight/list?pageNum=1&pageSize=5'}">航班预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/car/list?pageNum=1&pageSize=5'}">出租车预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/hotel/list?pageNum=1&pageSize=5'}">宾馆预订</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">敬请期待...</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
<form class="form-inline">
    <div class="form-group">
        <label for="name">宾馆名：</label>
        <input type="text" class="form-control" id="name" placeholder="请输入宾馆名">
    </div>
    <div class="form-group">
        <label for="location">地址：</label>
        <input type="text" class="form-control" id="location" placeholder="请输入地址">
    </div>
    <div class="form-group">
        <label for="price">价格：</label>
        <input type="text" class="form-control" id="price" placeholder="请输入价格">
    </div>
    <div class="form-group">
        <label for="roomNum">房间总数：</label>
        <input type="text" class="form-control" id="roomNum" placeholder="请输入房间总数">
    </div>
    <div class="form-group">
        <label for="availableNum">可用房间数：</label>
        <input type="text" class="form-control" id="availableNum" placeholder="请输入可用房间数">
    </div>
    </div>
    <div class="tip"></div>
    <button type="submit" class="btn btn-primary" id="submit_btn">提交</button>
</form>
<hr>

<h3>宾馆列表</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">宾馆名</th>
        <th scope="col">地址</th>
        <th scope="col">价格</th>
        <th scope="col">房间总数</th>
        <th scope="col">可用房间数</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotelInfo.records}">
        <th scope="row" th:text="${hotel.id}"></th>
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.location}"></td>
        <td th:text="${hotel.price}"></td>
        <td th:text="${hotel.roomNum}"></td>
        <td th:text="${hotel.availableNum}"></td>
        <td>
            <button type="button" class="btn btn-danger del_btn" th:hotelId="${hotel.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li th:class="${hotelInfo.hasPrevious()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()-1}+'&pageSize=5'}"><<</a>
        </li>
        <li th:if="${hotelInfo.getCurrent()-4 > 0 && hotelInfo.getCurrent() + 1 >hotelInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()-4}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()-4}"></a>
        </li>
        <li th:if="${hotelInfo.getCurrent()-3 > 0 && hotelInfo.getCurrent() + 2 >hotelInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()-3}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()-3}"></a>
        </li>
        <li th:if="${hotelInfo.getCurrent()-2 >0 }" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()-2}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()-2}"></a>
        </li>
        <li th:if="${hotelInfo.hasPrevious()}" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()-1}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()-1}"></a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" th:text="${hotelInfo.getCurrent()}"><span class="sr-only">(current)</span></a>
        </li>
        <li th:if="${hotelInfo.hasNext()}" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()+1}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()+1}"></a>
        </li>
        <li th:if="${hotelInfo.getCurrent()+2 <= hotelInfo.getPages() }" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()+2}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()+2}"></a>
        </li>
        <li th:if="${hotelInfo.getCurrent()-2 <= 0 && hotelInfo.getCurrent() + 3 <=hotelInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()+3}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()+3}"></a>
        </li>
        <li th:if="${hotelInfo.getCurrent()-1 <= 0 && hotelInfo.getCurrent() + 4 <=hotelInfo.getPages()}" class="page-item">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()+4}+'&pageSize=5'}" th:text="${hotelInfo.getCurrent()+4}"></a>
        </li>
        <li th:class="${hotelInfo.hasNext()}?'page-item' : 'page-item disabled'">
            <a class="page-link" th:href="@{'/hotel/list/all?pageNum='+${hotelInfo.getCurrent()+1}+'&pageSize=5'}" tabindex="-1" th:aria-disabled="${hotelInfo.hasNext()}?false:true">>></a>
        </li>
    </ul>
</nav>
</div>
</body>

<script type="text/javascript">
    $('#submit_btn').click(function () {
        let name = $('#name').val();
        let location = $('#location').val();
        let price = $('#price').val();
        let roomNum = $('#roomNum').val();
        let availableNum = $('#availableNum').val();

        console.log('checking...');
        let url = "/hotel/insert";
        let args = {
            name:name,
            location:location,
            price:price,
            roomNum:roomNum,
            availableNum:availableNum
        };
        $.post(url,args,function(data){
            if (data.code === 201) {
                alert("插入成功");
                window.location.reload();
            } else {
                alert("插入失败：" + data.message);
                window.location.reload();
            }
        });

    });

    $('.del_btn').click(function () {
        console.log('delete.............');
        let id = $('.del_btn').attr("hotelId");
        let url = "/hotel/delete";
        let args = {id:id};
        $.post(url,args,function(data){
            console.log('delete result -> data = ' + data);
            if (data.code === 201) {
                alert("删除成功");
                window.location.reload();
            } else {
                alert("删除失败：" + data.message);
                window.location.reload();
            }
        });
    })

</script>
</html>