<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/common_header"></div>
</head>
<body>
<h1>欢迎使用旅游预订系统</h1>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">导航栏</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/customer/list/all?pageNum=1&pageSize=5'}">客户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/flight/list/all?pageNum=1&pageSize=5'}">航班管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/car/list/all?pageNum=1&pageSize=5'}">出租车管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/hotel/list/all?pageNum=1&pageSize=5'}">宾馆管理</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    预订信息
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{'/reservation/flight/list?pageNum=1&pageSize=5'}">航班预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/car/list?pageNum=1&pageSize=5'}">出租车预订</a>
                    <a class="dropdown-item" th:href="@{'/reservation/hotel/list?pageNum=1&pageSize=5'}">宾馆预订</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">敬请期待...</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h3>该用户的旅游路线如下：</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="path : ${travelPath}">
        <td th:text="${path.fromCity}"></td>
        <td th:text="${path.arriveCity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>